<section class="user-info">
    <div class="user-info__data">
        <div class="user-avatar">
            <i class="icon-add-photo"></i>
        </div>
        <div class="user-info__fields">
            <h2 class="user-info-title">{{name}}</h2>
            <div class="user-info-field">{{email}}</div>
        </div>
    </div>
</section>