<main class="chats-page">
    <div class="notify">
        <img class="notify_image" src="{{notifyLogo}}" alt="Notify Logo">
        <div class="notify__title">{{notifyTitle}}</div>
        <div class="notify__control">
            <a class="notify-link" href="/">{{notifyLinkText}}</a>
        </div>
    </div>
</main>