<section class="auth">
    <form action="/profile" method="GET" class="auth-form">
        <fieldset class="auth-form__fieldset form-fieldset">
            <legend class="auth-form__legend form-legend">{{title}}</legend>
            <input class="auth-form__item form-input" type="email" name="email" placeholder="Email">
            <input class="auth-form__item form-input" type="password" name="password" placeholder="Password">
            <button class="auth-form__submit-button submit-button">
                {{{icon}}}                        
            </button>
        </fieldset>
    </form>
</section>